---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "This is an small API using the Chilean Birds Dataset. Created using ProcessWire, React and Docker. You can search for the chilean birds and get useful information about them.",
  "image": "https://ninjas.cl/blog/chilean-birds/assets/cover.png",
  "published": true,
  "published_at": "2021-07-10T00:46:42.005000Z",
  "slug": "chilean-birds",
  "tags": ["docker", "php", "react", "api", "birds", "chile", "aves"],
  "title": "🇨🇱 Chilean Birds 🐦"
}
---

![Chilean Birds](assets/cover.png)


This is an small API using the Chilean Birds Dataset. Created using ProcessWire, React and Docker. You can search for the chilean birds and get useful information about them.

{% github NinjasCL/chileanbirds-dataset %}

## Backend Stack

- Docker
- ProcessWire
- MariaDB
- PHP 7.4

![Screenshot](assets/screenshot.png)

## Frontend Stack

- React.js
- Bulma.css

## Demo

You can access the demo site here:

https://aves.ninjas.cl/

And the demo api here:

https://aves.ninjas.cl/api/birds

{% github joyofpw/chileanbirds-api %}

{% youtube K1rUXtmQZE8 %}
