---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Croquade Chile Proyectos: Creación de sitio web con carro de compras e integración de sistema de pago.",
  "image": "https://ninjas.cl/blog/proyecto-croquade-chile-e-commerce/assets/cover.jpg",
  "published": true,
  "published_at": "2016-09-01T19:42:04.150000Z",
  "slug": "proyecto-croquade-chile-e-commerce",
  "tags": ["prestashop", "php", "chile", "croquade"],
  "title": "Proyecto Croquade Chile E-commerce"
}
---

![Croqueade](assets/cover.jpg)

Para la consultora [Nekki.cl](http://nekki.cl)
Creación de sitio web con carro de compras e integración de sistema de pago
para Croquade Chile.

## Tecnologías

- Prestashop
- PHP
- MySQL
- Webpay KCC 6

En este proyecto se desarrolló un

Un Plugin para Prestashop 1.6.x (1.5.x puede servir también) que se integra con el método de pago online Webpay KCC 6.x de Transbank.

Para saber como configurar Webpay en el Servidor revisar la Guía Webpay.

Soporte para Webpay KCC modo TR_NORMAL.

{% github NinjasCL-archive/prestashop-webpay %}
