---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "🧉 Un bot para Discord que premia a los usuarios",
  "image": "https://ninjas.cl/blog/matebot-para-discord/assets/cover.png",
  "published": true,
  "published_at": "2023-05-14T15:52:00.754605Z",
  "slug": "matebot-para-discord",
  "tags": ["elixir", "discord", "chat", "bot"],
  "title": "MateBot para Discord"
}
---

![Screenshot](assets/cover.png)

Programado en _Elixir_ y _Phoenix_, permite interactuar con los usuarios
para regalar mates 🧉.

Un clon pequeño de https://heytaco.com/

{% github https://github.com/ElixirCL/mate %}
