---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Es una interfaz gráfica para configurar el archivo tbk_config.dat del KCC de Transbank. Pensado para ayudar a los desarrolladores.",
  "image": "https://ninjas.cl/blog/configurador-de-webpay-kcc-con-pascal/assets/cover.png",
  "published": true,
  "published_at": "2016-05-01T22:57:05.309000Z",
  "slug": "configurador-de-webpay-kcc-con-pascal",
  "tags": ["pascal", "lazarus", "gui", "webpay", "kcc"],
  "title": "Configurador de Webpay KCC con Pascal"
}
---

![Pascal](assets/cover.png)


Es una interfaz gráfica para configurar el archivo *tbk_config.dat* del KCC de Transbank.
Pensado para ayudar a los desarrolladores.


## Licencia
Software bajo la GPL v3.


## Ayuda

{% github NinjasCL-archive/guia-webpay %}


## Agradecimientos
- Programado en Object Pascal con http://lazarus-ide.org
- Ícono de Aplicación por http://publicicons.org

{% github NinjasCL-archive/EzWebpayConfigurator %}
