---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "La aplicación Jumpitt fue un prototipo creado en Mayo del 2013 para postular a los fondos de emprendimiento junto a un grupo de personas. Mi labor fue crear un prototipo utilizando Objective-C.",
  "image": "https://ninjas.cl/blog/aplicacion-jumpitt-saltate-la-fila/assets/cover.jpg",
  "published": true,
  "published_at": "2013-05-03T17:03:46.512000Z",
  "slug": "aplicacion-jumpitt-saltate-la-fila",
  "tags": ["app", "mobile", "ios", "jumpitt", "objective-c", "parse.com"],
  "title": "Aplicación Jumpitt: Sáltate la Fila"
}
---

![Jumpitt](assets/cover.jpg)

La aplicación _Jumpitt_ fue un prototipo creado en **Mayo del 2013** para
postular a los fondos de emprendimiento junto a un grupo de personas.

Mi labor fue crear un prototipo utilizando Objective-C.

La aplicación constaba de un carro de compras que permitía
comprar productos en cadenas de comida rápida como _Fritz_.

El objetivo era _"Saltarse la Fila"_ y solamente ir a retirar
el pedido cuando estaba listo.

Para esto la aplicación utilizaba _Push Notifications_ y otras
herramientas y avisar a la persona que podía ir a retirar su comanda.

Lamentablemente los fondos no se lograron ganar y la aplicación
quedó en el olvido. Eventualmente la aplicación dió origen a la
empresa **Jumpitt Labs**.

Las siguientes son algunos screenshot de la aplicación en su modalidad prototipo.

![Screenshot 1](assets/ss1.jpeg)
![Screenshot 3](assets/ss3.jpeg)
![Screenshot 4](assets/ss4.jpeg)
![Screenshot 5](assets/ss5.jpeg)
![Screenshot 6](assets/ss6.jpeg)
![Screenshot 7](assets/ss7.jpeg)
![Screenshot 8](assets/ss8.jpeg)
![Screenshot 9](assets/ss9.jpeg)

## Tecnologías

- Objective-C
- iOS 6
- Parse.com

```objectivec

#import "Item.h"
#import <Parse/PFObject+Subclass.h>

@implementation Item

@dynamic displayName;
@dynamic displayDescription;
@dynamic image;
@dynamic available;
@dynamic isAdultsOnly;
@dynamic categories;

+ (NSString *)parseClassName {
    return @"Item";
}
@end
```

```objectivec
#import <Parse/Parse.h>
#import "Item.h"

@interface Product : Item <PFSubclassing>
+ (NSString *)parseClassName;


// How much it costs
@property (strong) NSNumber * price;

// What this product is made of
// Array of Components
@property (strong) NSArray * components;

// What are the default ones
// Array of Components
@property (strong) NSArray * defaultComponents;

// If a component have a lesser price when used in an specific product
// Array of NSNumbers
// Must be in the same position as the Array of Components
// Later combine components and price correction in a NSDictionary for easier use
@property (strong) NSArray * priceCorrectionsForComponents;

@end
```
