---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Herramientas para Dome engine creadas con Wren.",
  "image": "https://ninjas.cl/blog/domepunk-bibliotecas-para-juegos-con-wren/assets/cover.jpg",
  "published": true,
  "published_at": "2020-09-25T19:12:06.505669Z",
  "slug": "domepunk-bibliotecas-para-juegos-con-wren",
  "tags": ["wren", "game", "code"],
  "title": "Domepunk Bibliotecas para Juegos con Wren"
}
---

![https://commons.wikimedia.org/wiki/File:Hen_with_anger_eye.jpg](assets/cover.jpg)

Wren es un lenguaje de programación especializado pero agradable.
Desafortunadamente, carece de muchas funciones y bibliotecas que otros
ecosistemas tienen de forma predeterminada.

Dome Engine es un motor de juego maravilloso con un enfoque minimalista.

Este proyecto se inspiró en bibliotecas de juegos como Flash Punk y Haxe Punk.
Su objetivo principal es brindar bibliotecas y herramientas de calidad de
vida que podrían  beneficiar tanto a los proyectos Dome Game como a los Vanilla Wren.

## Requisitos

- [Dome Engine](https://domenegine.com).
- [Wren](https://wren.io)
- Python 3.

## Bibliotecas

- https://github.com/NinjasCL/domepunk/wiki

- State Machines
- Palettes
- Tilesets
- Resolutions
- Emoji
- Calculation
- Probabilities
- Percentages
- Statistics
- WrenDoc
- Unit Tests

{% github https://github.com/NinjasCL/domepunk %}
