---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Una pequeña guía para instalar Elixir en una Raspberry PI",
  "image": "https://ninjas.cl/blog/instalar-elixir-en-una-raspberry-pi/assets/cover.png",
  "published": true,
  "published_at": "2022-10-05T15:16:49.003979Z",
  "slug": "instalar-elixir-en-una-raspberry-pi",
  "tags": ["debian", "linux", "raspberry"],
  "title": "Instalar Elixir en una Raspberry PI"
}
---

![Screenshot](assets/cover.png)


Un simple proyecto para documentar la configuración del ambiente
para desarrollo con Elixir en una Raspberry Pi 4.

También servirá en su mayoria para cualquier Debian 11.

La idea es tener un entorno minimalista pero bonito, que tenga todas las herramientas necesarias para desarrollar proyectos con Elixir.

Componentes de Hardware

- Rasperry PI 4 Model B 8GB Ram comprada en https://altronics.cl/
- Tarjeta SD Kingstone 32 GB (KN3-042).


{% github https://github.com/ElixirCL/machine %}
