---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Chercán is a simple static site generator where you could create your HTML pages using Wren and Asciidoc.",
  "image": "https://ninjas.cl/blog/chercan-wren-static-site-generator/assets/cover.jpg",
  "published": true,
  "published_at": "2020-11-24T01:16:21.943000Z",
  "slug": "chercan-wren-static-site-generator",
  "tags": ["wren", "chercán", "ssg", "generators"],
  "title": "Chercan Wren Static Site Generator"
}
---

![Aves de Chile](assets/cover.jpg)

[Wren](https://wren.io) is a small, fast, class-based concurrent scripting language

Think Smalltalk in a Lua-sized package with a dash of Erlang and wrapped up in a familiar, modern syntax.

```js
System.print("Hello, world!")

class Wren {
  flyTo(city) {
    System.print("Flying to %(city)")
  }
}

var adjectives = Fiber.new {
  ["small", "clean", "fast"].each {|word| Fiber.yield(word) }
}

while (!adjectives.isDone) System.print(adjectives.call())
```

## Chercán

A simple static site generator using Wren programming language.

Checkout [Chercán](https://github.com/NinjasCL/chercan) (https://github.com/NinjasCL/chercan) as a simple static site generator where you could create your HTML pages using _Wren_ and _Asciidoc_.

```text
.
├── LICENSE
├── Makefile
├── README.adoc
├── chercan
│   ├── build.wren
│   └── config.wren
├── content
│   ├── hello
│   │   ├── hello.adoc
│   │   └── hello.html
│   ├── hello.wren
│   └── index.wren
├── docs
│   ├── hello.html
│   ├── index.html
│   ├── normalize.css
│   └── sakura-vader.css
├── static
│   ├── normalize.css
│   └── sakura-vader.css
├── themes
│   └── default
│       ├── default.wren.html
│       ├── home.wren.html
│       └── partials
│           ├── footer.wren.html
│           └── header.wren.html
└── wren
└── run
```

```js
class Page {
  static title {"Hello Chercan"}
  static content {Asciidoc.read()}
}

return Page
```

{% github NinjasCL/chercan %}
