<a href="<%= og.url %>">
    <div class="container embed">
        <div class="row purple-frame">
            <div class="column">
                <p class="title"><%= og.title %></p>
                <p></p>
                <p class="description"><%= og.description %></p>
                <p class="site"><%= og.site_name %></p>
            </div>
            <div class="column">
                <img
                    class="image"
                    src="<%= og.image %>"
                    alt="<%= og.image:alt %>"
                    title="<%= og.url %>"
                    style="max-width: 500px; max-height: 300px; width:100%; height:auto;"
                />
            </div>
        </div>
    </div>
</a>
