---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "It's a simple script created in Laravel 5. Does not use databases. Run Using Mamp/Wamp/Xampp, Laravel's Valet or PHP's build in server.",
  "image": "https://ninjas.cl/blog/stardew-valley-community-center-modifier/assets/cover.png",
  "published": true,
  "published_at": "2016-12-10T12:35:19.616000Z",
  "slug": "stardew-valley-community-center-modifier",
  "tags": ["games", "mod", "stardew valley", "php", "laravel"],
  "title": "Stardew Valley Community Center Modifier"
}
---

![Stardew Valley](assets/cover.png)

A simple tool that enables you modify the community center items and names.
It's web based with PHP.

Is compatible with Stardew Valley 1.4 and also is a self contained app
now you can generate the XNB file needed to replace the one in the game for your custom one.

If you need you can replace the YML files inside www/resources/yaml with your custom ones
to begin with an already modified community center.

Just execute `ccmod.cmd` and you will be all set (Windows only tool, but the xnb files can work in any OS).

> Note: Because the script generates a heavy webpage (50mb) it will took a little while to load successfully.

- https://github.com/NinjasCL-archive/stardewvalley-ccmod

## Technologies

- Laravel 5
- PHP
- Yaml
- jQuery
- Bulma.css
- Windows CMD

## Example Bundle

The game requires you to use animal products in the Community Center for completing the arc.
I wanted a vegan alternative so I made a little mod just for that.

![Bundle](assets/bundle.webp)

### Installation

Copy `Bundles.xnb` replacing the file in `Data/Bundles.xnb`
inside the StarDew Valley files.

### Important

- Backup your files.
- Use at your own risk.
- This is beta, may crash the game. Currently tested on SDV v1.1.


{% github NinjasCL-archive/stardewvalley-veganmod %}
