---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Liquor Tags. Inspired by dev.to embed tags (liquid tags), takes Open Graph data from URLs and generate output using pseudo EEx templates.",
  "image": "https://ninjas.cl/blog/liquor-tags-fetch-opengraph-data-and-render-the-output/assets/cover.jpg",
  "published": true,
  "published_at": "2024-03-25T19:45:24.194000Z",
  "slug": "liquor-tags-fetch-opengraph-data-and-render-the-output",
  "tags": ["elixir", "tags", "liquor", "embed"],
  "title": "Liquor Tags - Fetch OpenGraph data and Render the output"
}
---

![Foto de Saman Taheri en Unsplash](assets/cover.jpg)


*Liquor Tags*. Inspired by dev.to embed tags (liquid tags),
takes Open Graph data from URLs and generate output using pseudo EEx templates.
Useful when creating previews of websites using Open Graph data.

## Installation

```elixir
Mix.install([
  {:liquor, "~> 1.0.1"},
  {:req, "~> 0.4.14"}, # Just for demostration
  {:kino, "~> 0.12.3"} # Just for demostration
])
```

```elixir
alias Liquor.Tags.Tag

content = """
{% github ElixirCL % }
{% embed https://ninjas.cl % }
"""

tags = [
  Tag.new("github", "Github: < %= og.url %>", "https://github.com"),
  Tag.new("embed", "Website: < %= og.title %>")
]

# Fetch only needs to return the HTML string
fetch = fn url -> Req.get!(url) |> then(& &1.body) end

Liquor.render(content, tags, fetch)
|> Kino.Text.new()
```

### Renders

```text
Github: https://github.com/ElixirCL
Website: Ninja Software Chile (Ninjas.cl)
```

{% github elixircl/liquor %}
