---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un listado de personas buena onda para tomar un cafecito",
  "image": "https://ninjas.cl/blog/cafecito-lista-de-personas-buena-onda/assets/cover.jpg",
  "published": true,
  "published_at": "2024-05-02T14:18:42.418207Z",
  "slug": "cafecito-lista-de-personas-buena-onda",
  "tags": ["javascript", "markdown", "devs", "chile"],
  "title": "Cafecito: Lista de personas buena onda"
}
---

![https://commons.wikimedia.org/wiki/File:A_small_cup_of_coffee.JPG](assets/cover.jpg)

Este fue un proyecto chiquito para armar una lista de personas
que tienen disponibilidad para tomar un "cafecito", es decir
para charlar un rato tomando un buen café.

Tecnologías:

- Github Actions
- Javascript
- Markdown

{% github devschile/cafecito %}

Además se hizo un script para respaldar los emoticons
del slack de [devschile](https://devschile.cl)

{% github https://github.com/devschile/emoticons %}
