---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "A command-line interface for CMS/CMF ProcessWire based on the Symfony Console component. Can be easily extended through ProcessWire's ability of being bootstrapped into other applications, its great API and Symfony Console's modular command approach.",
  "image": "https://ninjas.cl/blog/wireshell-processwire-command-line-companion/assets/cover.jpg",
  "published": true,
  "published_at": "2015-10-14T23:19:54.333000Z",
  "slug": "wireshell-processwire-command-line-companion",
  "tags": ["processwire", "php", "symphony", "cli"],
  "title": "Wireshell ProcessWire command-line companion"
}
---

![Foto de George Girnas en Unsplash](assets/cover.jpg)

**ProcessWire command-line companion**

Version 1.0.6, compatibility: ProcessWire 3.x

A command-line interface for CMS/CMF [ProcessWire](https://processwire.com) based on the Symfony Console component.
Can be easily extended through ProcessWire's ability of being bootstrapped into other applications, its great [API](https://processwire.com/api/) and
Symfony Console's [modular command approach](http://symfony.com/doc/current/components/console/introduction%20%20%20%20%20%20.html).


Wireshell's code and documentation were extended/cleaned up by @clsource.


{% github wireshell/wireshell %}
