/* Ninjas.cl Styles */

html, body {
  background-color: #7540bd;
  background: linear-gradient(180deg, rgba(23,29,48,1) 0%, rgba(69,38,112,1) 70%, rgba(117,64,189,1) 100%);
  color: #FAEBC3;
}

a {
  color: #D278AA;
}

a:hover {
  color: #F3A09C;
}

header {
  margin-top:2%;
}

span#email {
  font-weight: bold;
}

span#email b {
	display: none;
}

#avatar {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

.section {
  margin-top: 2%
}

.flower-frame {
  text-transform: uppercase;
  text-align: right;
  align-items: center;
  background: url('../img/blossom.png');
  background-color: rgba(99, 18, 142, 0.5);
  background-blend-mode: multiply;
  font-weight: bold;
  padding-bottom: 0;
  font-size:larger;
  border-radius: 25px;
  margin-left: 2%;
  margin-top: 2%;
}

.malva-frame {
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  font-weight: bold;
  padding-bottom: 0;
  font-size:larger;
  border-radius: 25px;
  margin-left: 2%;
  margin-top: 2%;
  background-color: rgba(99, 18, 142, 0.2);
  background-blend-mode: multiply;
}

.purple-frame {
  background-color: rgba(99, 18, 142, 0.3);
  border-style: dashed;
  border-color: #7540bd;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  padding: 2%;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
}

.violet-frame {
  background-color: rgba(33, 4, 49, 0.945);
  border-style: dashed;
  border-color: #7540bd;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  padding: 2%;
  padding-top: 2vh !important;
}

.post-content {
  background-color: rgba(23, 23, 23, 0.745);
  border-style: dashed;
  border-color: #7540bd;
  color: #fafafa;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 1%;
  padding: 2%;
  padding-top: 2vh !important;
}

/* Let's get those scrappers drunk! */
.beer, .chicha, .vino, .chupilca, .cerveza, .pisco {
  display:none;
}

button:hover {
  background-color:#F3A09C;
  border-color: #F3A09C;
  transition: 0.7s;
}


.book-frame {
  min-height: 310px;
}

.image-cover {
  border-color: #7540bd;
  border-style: dotted;
}

.margin-right-1p {
  margin-right:1%;
}


.tags .tag {
  margin-right: 5px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
  background: #9e9e9e;
}

.tags .tag-purple {
  background: #7540bd;
}
.tags .tag-rounded {
  border-radius: 16px;
}

code {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  background-color: transparent;
}

pre {
  font-size: 15px;
  margin: 20px;
}

footer {
  margin: 2px auto 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

footer a {
  color: white;
}

.embed {
  color: #fff;
  font-size: medium;
}

.embed .title {
  font-weight: bold;
}

.embed .description {
  font-size: small;
}

.embed .site {
  font-size: smaller;
}

.embed img {
  width: 200vh;
  height: auto;
}
