---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un pequeño ejercicio para ejecutar lenguajes de programación en cgi-bin. Este pequeño framework permite ejecutar Wren en entornos con PHP y cgi-bin.",
  "image": "https://ninjas.cl/blog/super-web-framework-wren-baron/assets/cover.webp",
  "published": true,
  "published_at": "2024-05-18T21:01:43.924429Z",
  "slug": "super-web-framework-wren-baron",
  "tags": ["wren", "php", "red", "baron", "cgi"],
  "title": "Super Web Framework Wren Baron"
}
---

![El Barón Rojo](assets/cover.webp)

Como un ejercicio para ejecutar scripts `cgi-bin` realicé este pequeño
web framework llamado `Wren Baron` en alusión al anime del [Barón Rojo](https://es.wikipedia.org/wiki/Red_Baron).

Cómo demostré en el post sobre Golang, la carpeta `cgi-bin` permite
ejecutar binarios compilados con otros lenguajes de programación.

{% ninjas https://ninjas.cl/blog/crear-un-cgi-en-golang/ %}

Sin embargo ¿Qué pasa si el lenguaje no tiene una biblioteca de cgi?.

Esto pasa con _Wren_, al ser un lenguaje de nicho no tiene
bibliotecas de `cgi` para compilar un ejecutable por su cuenta.

Por lo que tenemos que usar un puente con `PHP`.

Este puente simplemente convierte a _JSON_ las variables de entorno
y las pasa como parámetros al ejecutar el script.

Además el uso de `2>&1` nos permite obtener los mensajes de error
al ejecutar el script.

```php
<?php

session_start();

$env = escapeshellarg(json_encode([
    "get" => $_GET,
    "post" => $_POST,
    "server" => $_SERVER,
    "session" => session_id(),
    "pwd" => getcwd()
    ]));

$wren = "../wrenc index.wren $env 2>&1";

passthru($wren);
?>
```

El script de wren obtenemos el parámetro
y procesamos el _JSON_, de esta forma
cualquier salida a `stdout` es mostrada


```js
import "runtime" for Runtime
import "os" for Process
import "json" for JSON

var args = Process.allArguments
var env = JSON.parse(args[2])
var name = env["get"]["name"]

System.print("<h1>Hello From Wren %(Runtime.WREN_VERSION)</h1>")
System.print("<h2>This is rendered from <strong>Wren</strong></h2>")
System.print("<p>Hello <strong>%(name)</strong></p>")
```

Dando como resultado una página HTML común

![Screenshot](https://raw.githubusercontent.com/NinjasCL/wren-baron/main/screenshot.png)

{% github https://github.com/NinjasCL/wren-baron %}

{% youtube https://youtu.be/CwTmQjaDfCQ?si=Vj5g4F_5GcF7kq66 %}
