---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Segunda parte de las Aventuras con Emacs. Ahora con unas pequeñas configuraciones adicionales.",
  "image": "https://ninjas.cl/blog/aventuras-con-emacs-parte-2/assets/cover.jpg",
  "published": true,
  "published_at": "2024-04-09T13:23:00.462478Z",
  "slug": "aventuras-con-emacs-parte-2",
  "tags": ["emacs", "editor", "programar", "código"],
  "title": "Aventuras con Emacs: Parte 2"
}
---

![Foto de Museums Victoria en Unsplash](assets/cover.jpg)

Esta es la continuación de

{% ninjas aventuras-con-emacs %}

## Nomenclaturas

Algunas nomenclaturas que pueden ser de ayuda:

- `SPC`: Tecla Espacio.
- `ESC`: Tecla Escape.
- `C`: Tecla Control.
- `M`: Tecla Meta (Alt, Option).
- `s`: Súper (Windows)

Si una letra está en mayúsculas, implica el uso de la tecla _Shift_.

Las distintas combinaciones de teclas se pueden ver como
una secuencia de teclas o un acorde o arpegio musical.

### Arpegios

Similar a un arpegio son las combinaciones de teclas que
se deben presionar en un orden secuencial.

Se pueden identificar cuando se usa un `espacio` para separar la secuencia de teclas.

Ejemplo: `SPC f P` quiere decir:

1. Presiona `Espacio` y suelta.
2. Presiona `f` y suelta.
3. Presiona `P` (mayúscula) y suelta.

### Acordes

Similar a un acorde. Son un conjunto de teclas
que se deben presionar al mismo tiempo (sin dejar de presionar la anterior).

Se pueden identificar cuando se una un `-` para separar la secuencia de teclas.

Ejemplo: `C-x` quiere decir:

1. Presiona `Control` y deja presionando.
2. Presiona `x` y luego suelta todas las teclas (`Control`, `x`) al mismo tiempo.

## Configuraciones Especiales

Las siguientes configuraciones se deben realizar en el archivo
`config.el` que está disponible en `~/.config/doom/config.el`.

Para acceder a esta configuración desde _Emacs_ simplemente se debe
precionar la combinación de teclas

```text
SPC f-P
```

### Configurar Opciones

Editar el archivo `config.el` y añadir las siguientes instrucciones de `lisp`.

```clojure
;; User Info
(setq user-full-name "Camilo Castro"
      user-mail-address "camilo@ninjas.cl")

;; Mac Config
(setq mac-option-modifier 'alt
      mac-pass-control-to-system nil)

;; Ctrl+K removes whole line
(setq kill-whole-line t)

;; Enable auto save and backup files
(setq auto-save-default t
      make-backup-files t)

;; Disable confirm on exit
(setq confirm-kill-emacs nil)

;; Set Fonts
(setq doom-font (font-spec :family "JetBrainsMono Nerd Font" :size 16))

;; Set Window Size
(setq initial-frame-alist '((top . 1) (left . 1) (width . 143) (height . 55)))
```


### Cambiar Logo

Vamos a cambiar la pantalla de inicio por una más producida.

La siguiente es lo que obtenemos de fábrica al instalar _Doom Emacs_.

![Pantalla Inicial](assets/inicio.png)

Y vamos añadir una que sea más bonita (Hecha por Zzamboni)

![Doom](assets/doom.png)

## Copiar la Imagen

Vamos a copiar la imagen al directorio correspondiente

```bash
mkdir -p ~/.config/doom/splash
cp doom-emacs-bw-light.svg ~/.config/doom/splash
```

Editamos `config.el` y agregamos las siguientes instrucciones de `lisp`.

```clojure
(let ((images '("doom-emacs-bw-light.svg")))
  (setq fancy-splash-image
        (concat doom-user-dir "splash/"
                (nth (random (length images)) images))))
```


Finalmente tendremos un bonito resultado.

![Emacs](assets/emacs.png)


## Referencias

- https://zzamboni.org/post/my-doom-emacs-configuration-with-commentary/
- https://discourse.doomemacs.org/t/how-to-change-your-splash-screen/57
- https://github.com/jeetelongname/doom-banners

## Special Thanks

Agradecimientos a Tomás Solar y a los amigos de Cuatro Libertades
por los tips y correcciones.
