---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Una guía sobre como instalar y usar Webpay KCC",
  "image": "https://ninjas.cl/blog/guia-webpay-kcc/assets/cover.png",
  "published": true,
  "published_at": "2014-04-23T18:45:43.443293Z",
  "slug": "guia-webpay-kcc",
  "tags": ["webpay", "transbank", "kcc"],
  "title": "Guía Webpay KCC"
}
---

![SS](assets/cover.png)

Webpay es una pasarela de pago desarrollada por [Transbank](https://transbank.cl)
para realizar transacciones desde Internet con tarjetas bancarías de
crédito y débito. Hoy en día Webpay constituye una herramienta clave
para el desarrollo de un comercio electrónico eficaz y seguro en Chile.

## Transbank Developers

Sitio web con información sobre la integración de Webpay.

http://www.transbankdevelopers.cl/

{% github https://github.com/NinjasCL-archive/guia-webpay %}
