---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un script simple para exportar datos de telegra.ph a json",
  "image": "https://ninjas.cl/blog/telegraph-a-json/assets/cover.jpg",
  "published": true,
  "published_at": "2022-04-03T18:12:48.328824Z",
  "slug": "telegraph-a-json",
  "tags": ["elixir", "script", "telegraph", "json"],
  "title": "Telegra.ph a JSON"
}
---

![https://commons.wikimedia.org/wiki/File:Creed_model_7TR-B-2_reperforator.jpg](assets/cover.jpg)

[Telegra.ph](https://telegra.ph) es un servicio para escribir artículos, similar a Medium.
Sin embargo no provee una api simple para exportar los contenidos.

Este es un pequeño script en _Elixir_ para poder obtener y transformar
la información desde la página de Telegra.ph y poder usar el contenido
en otros lados.

```bash
./telegraph https://telegra.ph/Sample-Page-12-15
./telegraph --path Sample-Page-12-15 --json
./telegraph --path Sample-Page-12-15 --html
./telegraph --path Sample-Page-12-15 --markdown
```

```bash
./telegraph --path Sample-Page-12-15 --json
./telegraph --file sample-page-12-15.json
```

{% github https://github.com/ElixirCL/telegraph %}
