---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "A small alternative to https://runjs.app/ but for the Wren language called Wren Playground.",
  "image": "https://ninjas.cl/blog/wren-playground/assets/cover.jpg",
  "published": true,
  "published_at": "2021-05-04T01:00:19.631000Z",
  "slug": "wren-playground",
  "tags": ["wren", "playground", "english", "js", "electron"],
  "title": "Wren Playground"
}
---

![Foto de Amee Fairbank-Brown en Unsplash](assets/cover.jpg)

{% github ninjascl/wren-playground %}

# Tools

It was created using the following components:

- React 16
- [Electron React Boilerplate](https://github.com/electron-react-boilerplate/electron-react-boilerplate)
- [Wren CLI](https://wren.io/)
- [CodeJar](https://github.com/antonmedv/codejar)
- [Prism](https://prismjs.com/)

Have fun!

<video src="https://user-images.githubusercontent.com/292738/117061815-a11b9500-acf0-11eb-9361-ec8c5704766a.mp4"
  data-canonical-src="https://user-images.githubusercontent.com/292738/117061815-a11b9500-acf0-11eb-9361-ec8c5704766a.mp4"
  controls="controls"
  muted="muted"
  style="max-height:640px; min-height: 200px">
</video>
