---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "We enjoy working and making fun projects with the amazing CMS/CMF ProcessWire, rhis is a place where we keep our experiments and wild ideas.",
  "image": "https://ninjas.cl/blog/the-joy-of-processwire/assets/cover.png",
  "published": true,
  "published_at": "2018-11-30T14:55:21.665127Z",
  "slug": "the-joy-of-processwire",
  "tags": ["php", "processwire", "joy", "explorations"],
  "title": "The Joy of ProcessWire"
}
---

![https://commons.wikimedia.org/wiki/File:Chinese_rocket.png](assets/cover.png)

We enjoy working and making fun projects with the amazing CMS/CMF [ProcessWire](https://processwire.com).
This is a place where we keep our experiments and wild ideas.
Maybe some of them could be useful to you and that would be awesome.

[💻 Go to Github](https://github.com/joyofpw)

## Ideas

### ☄️ [Wire Render Pattern](https://github.com/joyofpw/wire-render-pattern)

Instead of using external template systems.
Maybe using the native `wireRenderFile()` function
would be enough for simple and complex projects.

### 🈴 [Better Translatable Strings](https://github.com/joyofpw/better-translatable-strings)

Discover how using the `wirePopulateStringTags()` function can improve tremendously the translation strings.
And helps with the translation process.

### 🚎 [SolidWire Pseudo Language](https://github.com/joyofpw/solidwire)

When you need to prototype different ideas.
Using the *SolidWire* language could help you clear your vision.
Represent different relationships between *templates, fields and pages*
in a standarized way. Communicate better and faster by following sane conventions.

### 🏁 [How to Install ProcessWire](https://github.com/joyofpw/how-to-install-processwire)

A simple guide for newcomers to the wonderful world of `ProcessWire`.

## Experiments

### 🌚 [ProcessWire in Yaws](https://github.com/joyofpw/pwyaws)

All the power of an _Erlang_ server to run _ProcessWire_.

### 🔖 [Additional Image Fields](https://github.com/joyofpw/imagefield-additional-fields)

A module that helps including additional fields to image. Useful when you need the url,
path or markdown code right away.

### 📦 [Docker files for ProcessWire](https://github.com/joyofpw/docker)

Files that helps making *ProcessWire* projects using *Docker* containers.

### ⏩ [Inertia Adapter for ProcessWire](https://github.com/joyofpw/inertia)

Now you can use the wonderful https://inertiajs.com/ with good ol' ProcessWire templates.

## Examples

### 🐦 [🇨🇱 Chilean Birds](https://github.com/joyofpw/chileanbirds-api)

A small _API_ to showcase a _SolidWire_ usage and small Rest API with _ProcessWire_.
Using _React.js_ as frontend.

### 🤖 [Voxgram](https://github.com/joyofpw/voxgram)

A _Python Telegram bot_ that saves audios in a _ProcessWire_ backend.

### ⏩ [Svelte + ProcessWire + Laravel Mix + Inertia](https://github.com/joyofpw/inertia-svelte-mix-pw)

An example that implements _ProcessWire_, _Laravel Mix_, _Inertia_ and _Svelte_.

### 🏤 [JasonBase](https://github.com/joyofpw/jasonbase)

_Jasonbase_ enables you to easily store and share jsons. Example using _WireRenderPattern_ and _Dockerfile_.


- https://joyofpw.github.io/

{% github https://github.com/joyofpw/joyofpw.github.io %}
