<%= EEx.eval_file("sources/templates/partials/header.html.eex", [page: page]) %>
    <header>
      <div class="container">
        <div class="row">
          <div class="column column-33">
            <img src="<%= page.logo %>" alt="Ninjas.cl's Logo" title="Ninjas.cl">
          </div>
          <div class="column">
            <div class="row">
              <div class="column">
                <h1>忍者 開発者 Ninjas.cl</h1>
                <h2>Software from 🇨🇱 with ❤️</h2>
              </div>
            </div>
            <div class="row">
              <section class="column" id="about">
                  <p>
                    <i>
                      <a href="https://github.com/ninjascl">Ninja <span id="ninja-s">Systems</span></a>
                    </i>
                    Is an Experimental Software Developer Group from Chile 🇨🇱.
                    Participates in various technological projects like videogames,
                    software and other related activities.
                  </p>
                  <p>
                    <i>
                      <a href="https://ninjas.cl/">Ninjas.cl </a>
                    </i>
                    was started in <strong><span id="year">2015 </span></strong><span id="year-amount"></span> by
                    <a href="https://github.com/clsource"> Camilo Castro</a>.
                  </p>
              </section>
            <section id="camilo">
              <h3>
                <a href="https://github.com/clsource">👨🏽‍💻 Camilo Castro</a>

              </h3>
              <p>
                <strong>Software Engineer</strong> that likes <i>Kombucha</i> and creating projects using
                <a href="https://elixir-lang.org">Elixir</a> and other fun technologies.
              </p>
              <p>
                <!-- Spam protection -->
                You can contact him at: <span id="email">cami<b>.ex</b>lo@ninjas.<b>.ex</b>cl</span>
              </p>
            </section>
            <section id="avatar">
              <img id="avatar" src="img/camilo.jpg" alt="Camilo Castro" title="Camilo">
            </section>
            </div>
          </div>
        </div>
      </div>

      <%= EEx.eval_file("sources/templates/partials/menu.html.eex") %>
    </header>

    <main class="section container">

          <div class="row">
            <div class="column flower-frame">
              <span>
                🌸 About
              </span>
            </div>
          </div>

          <div class="row">
            <div class="column purple-frame">
              <p>
                We strive to create beautiful, hand crafted and loving artifacts, made with humans in mind.
                Using little to no <i>IA</i> when possible, because we value human intellect and artistry in technological projects.
                We want to be a cozy place for projects that we cherish and value.
                We would like to bring value to the world by creating amazing, fun and useful resources.
              </p>
              <p>
                Thanks for checking us, please enjoy our craft!.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="column flower-frame">
              📖 <a href="/blog">Highlighted Blog Posts</a>
            </div>
          </div>

          <div class="row">
            <div class="column purple-frame">
              <p>
                We constantly blog about technological adventures we embark in.
                From silly experiments to full blown applications.

                Our blog is a small garden to record our experiences, ideas and projects.
                Is a way for us to document our journey.
              </p>
            </div>
          </div>

          <div class="row">
            <%= for item <- posts
                |> Enum.take_random(2) do
                %>

                    <!-- item -->
                    <div class="column purple-frame">
                      <!-- item Data -->
                      <div class="row">
                        <!-- item Image -->
                        <div class="column column-20">
                          <img class="image-cover" src="<%= item.post.image %>" alt="<%= Enum.join(item.post.tags, " ,") %>" title="<%= item.post.title %>">
                        </div>
                        <!-- item Description -->
                        <div class="column item-frame">
                        <a href="/blog/<%= item.post.slug %>"><h2><%= item.post.title %></h2></a>
                          <p>
                            <%= item.post.description %>
                          </p>

                        </div>
                      </div> <!-- /item Data -->

                      <!-- item Action Buttons -->
                      <div class="row">
                        <div class="column">
                          <a href="/blog/<%= item.slug %>"><button>Leer / Read</button></a>
                        </div>
                      </div> <!-- /Action Buttons -->
                    </div> <!-- /item -->
            <% end %>
           </div> <!-- /row -->

          <%= for section <- sections do %>
            <!-- Section -->
            <div class="row">
              <div class="column flower-frame">

                  <%= section.title %>

              </div>
            </div>

            <div class="row">
              <div class="column purple-frame">
                <p>
                <%= section.about %>
                </p>
              </div>
            </div>

            <%= for item_chunk <- section.items
              |> Enum.sort_by(fn item -> item.sort end)
              |> Enum.chunk_every(2) do
              %>
                <div class="row">
                  <%= for item <- item_chunk do %>
                  <!-- item -->
                  <div class="column purple-frame">
                    <!-- item Data -->
                    <div class="row">
                      <!-- item Image -->
                      <div class="column column-20">
                        <img class="image-cover" src="<%= item.image.file %>" alt="<%= item.image.alt %>" title="<%= item.image.title %>">
                      </div>
                      <!-- item Description -->
                      <div class="column item-frame">
                      <h2><%= item.title %></h2>
                        <p>
                          <%= item.about %>
                        </p>
                        <ul>
                          <%= if section.type == "projects" do %>
                            <li><b>Started At</b>: <%= item.published_at.text %></li>
                          <% else %>
                            <li><b>Language:</b>: <%= item.language %></li>
                            <li><b>Published at</b>: <%= item.published_at.text %></li>
                          <% end %>
                        </ul>
                      </div>
                    </div> <!-- /item Data -->

                    <!-- item Action Buttons -->
                    <div class="row">
                      <div class="column">
                        <a href="<%= item.url %>"><button>Ver / View</button></a>
                      </div>
                      <div class="column">
                        <a href="<%= item.repo %>"><button>Código / Code</button></a>
                      </div>
                      <div class="column column-80"></div>
                    </div> <!-- /Action Buttons -->
                  </div> <!-- /item -->
                  <% end %>
                </div> <!-- /row -->
            <% end %>
            <!-- /Section -->
          <% end %>


    </main>

    <script type="text/javascript">
      (() => {
        const items = ["Solutions", "Systems", "Software"];
        const word = items[items.length * Math.random() | 0];

        const ninjas = document.getElementById("ninja-s");
        if (ninjas) {
          ninjas.innerHTML = word;
        }
      })();
    </script>

    <script type="text/javascript">
      (() => {
        const initial = 2015;
        const current = new Date().getFullYear();
        const diff = current - initial;
        const year = document.getElementById("year-amount");

        if(year) {
          year.innerHTML = `(${diff} years of coding ❤️!)`;
        }

        if(diff > 30) {
          year.innerHTML = `(Waaa ${diff} years!. I am still alive?, send hugs.)`;
        }
      })();
    </script>

<%= EEx.eval_file("sources/templates/partials/footer.html.eex") %>
