<%= EEx.eval_file("sources/templates/partials/header.html.eex", [page: page]) %>

<header>
  <div class="container">
    <div class="row">
      <div class="column column-40"></div>

      <div class="column column">
        <a href="/">
          <img src="/img/Ninjas.png" alt="Ninjas.cl Website" title="Ninjas.cl">
        </a>
      </div>

      <div class="column column-40"></div>
  </div>

  <%= EEx.eval_file("sources/templates/partials/menu.html.eex") %>
</header>

<main class="section container">

  <%= for post <- Enum.sort_by(posts, fn post -> DateTime.to_unix(post.published_at) end, :desc) do %>

    <div class="row">
        <div class="column flower-frame">
          <a href="/blog/<%= post.slug %>">
            <%= post.title %>
            📅 <%= Date.to_iso8601(post.published_at) %>
          </a>
        </div>
    </div>

    <div class="row">
      <div class="column purple-frame">
        <a href="/blog/<%= post.slug %>">
          <%= post.description %>
        </a>
      </div>
    </div>

  <% end %>

  <div class="row" style="padding-top:5%;">
      <%= if prev do %>
            <a href="/blog/<%= prev %>"><button>⏮️ Previous</button></a>
      <% end %>

      <%= if next do %>
          <div <%= if prev, do: "style=\"margin-left:2%\"", else: "" %>>
            <a href="/blog/<%= next %>"><button>Next ⏭️</button></a>
          </div>
      <% end %>

      <%= if next || prev do %>
        <span style="margin-left:2em;margin-top:0.5em;">
          <p style="font-weight:bold;text-align:justify;"><span style="color:pink;"><%= number %></span>&nbsp;/&nbsp;<%= total %></p>
        </span>
      <% end %>
      </div>
  </div>
</main>

<%= EEx.eval_file("sources/templates/partials/footer.html.eex") %>
