<%= EEx.eval_file("sources/templates/partials/header.html.eex", [page: page]) %>

<header>
  <div class="container">
    <div class="row">
      <div class="column column-40"></div>

      <div class="column column">
        <a href="/">
          <img src="/img/Ninjas.png" alt="Ninjas.cl Website" title="Ninjas.cl">
        </a>
      </div>

      <div class="column column-40"></div>
  </div>

  <%= EEx.eval_file("sources/templates/partials/menu.html.eex") %>
</header>

<main class="section container">
  <div class="row">
    <div class="column">
      <a href="<%= page.url %>"><h1><%= page.title %></h1></a>
      <div class="tags">
        🏷️
        <%=
          # tags needs a space to render well in reading mode
          page.tags
          |> Enum.map(fn tag -> "<span class=\"tag tag-purple tag-rounded\">#{String.trim(tag)}</span> " end)
          |> Enum.join()
        %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column flower-frame">
        📅 <%= Date.to_iso8601(page.published_at) %>
        | ⌚ <%= page.stats.reading_time %> minutes
    </div>
  </div>

  <div class="row">
    <div class="column post-content">
      <%= page.content %>
    </div>
  </div>
</main>

<%= EEx.eval_file("sources/templates/partials/footer.html.eex") %>
