---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "The EMS flasher is a simple command line flasher for the 64 Mbit EMS USB flash cart for Game Boy. This software is a GUI for that program written in Gambas basic.",
  "image": "https://ninjas.cl/blog/gambas-ems-flasher-gui/assets/cover.webp",
  "published": true,
  "published_at": "2011-06-02T12:43:17.501000Z",
  "slug": "gambas-ems-flasher-gui",
  "tags": ["gambas", "basic", "gui", "gameboy", "linux"],
  "title": "Gambas EMS Flasher GUI"
}
---

![EMS Cart](assets/cover.webp)

A GUI application for ems flasher http://lacklustre.net/redmine/projects/ems-flash

The EMS flasher is a simple command line flasher for the 64 Mbit EMS USB
flash cart for Game Boy.

Written by Mike Ryan.

This software is a GUI for that program. Written in [Gambas Basic](https://gambas.sourceforge.net/en/main.html).

You can purchase an [EMS Cart in Kitsch Bent](https://store.kitsch-bent.com/collections/cartridges-programmers/products/usb-64m-smart-card)


{% github NinjasCL-archive/ems-flasher-gui %}
