---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un sistema para almacenar tus puntajes de Pump it Up creado en Elixir y Phoenix",
  "image": "https://ninjas.cl/blog/rankmode-piu-stats/assets/cover.png",
  "published": true,
  "published_at": "2022-12-20T14:47:04.087562Z",
  "slug": "rankmode-piu-stats",
  "tags": ["piu", "rankmode", "phoenix", "elixir"],
  "title": "Rankmode PIU Stats"
}
---

![RankMode](assets/cover.png)

Este es un sistema simple para almacenar tus puntajes en el juego [Pump it Up](https://en.wikipedia.org/wiki/Pump_It_Up_(video_game_series)).

Tiene una lista de canciones y una simple API rest para almacenar los datos.

Es un gran ejemplo para:

- Sistemas de Usuarios
- Almacenamiento de Datos
- Migraciones
- API Rest
- Tailwind

{% github https://github.com/ElixirCL/rankmode %}
