---
{
  "description": "Made in Late 2013 - Early 2014. This is a prototype of an app for purchasing food using the iPhone. This was way before Uber Eats or Cornershop existed.",
  "image": "https://raw.githubusercontent.com/NinjasCL/zilogcafe/main/process.png",
  "published": true,
  "published_at": "2014-03-20T21:50:24.884000Z",
  "slug": "zilog-cafe-app",
  "tags": ["ios", "objective-c", "app", "zilog", "cafe", "prototype"],
  "title": "Zilog Cafe App"
}
---

Made in Late 2013 - Early 2014. This is a prototype of an app for purchasing food using the iPhone. This was way before Uber Eats or Cornershop existed.

Sadly due to lack of funding this never really took off.

![Zilog Cafe](https://raw.githubusercontent.com/NinjasCL/zilogcafe/main/process.png)

{% github NinjasCL/zilogcafe %}


## Technology

- Parse Framework
- Objective-C

## Video

Because Parse.com is no longer active and the old nature of this code this app cannot be run,

But at least it has a video recorded for posterity.

The "Cafeta" was a rebranding made for a specific presentation.

<video src="https://user-images.githubusercontent.com/292738/126543678-d6b0e4db-1ab2-4992-834a-c5d3a1cde89e.mp4"
  data-canonical-src="https://user-images.githubusercontent.com/292738/126543678-d6b0e4db-1ab2-4992-834a-c5d3a1cde89e.mp4"
  controls="controls"
  muted="muted"
  style="max-height:640px; min-height: 200px">
</video>

## License

MIT
