---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un simple validador de RUT chileno implementado en Elixir",
  "image": "https://ninjas.cl/blog/rut-chileno-en-elixir/assets/cover.png",
  "published": true,
  "published_at": "2022-03-30T18:21:51.221521Z",
  "slug": "rut-chileno-en-elixir",
  "tags": ["chile", "rut", "run", "validador", "elixir", "biblioteca"],
  "title": "RUT Chileno en Elixir"
}
---

![Rut Chileno](assets/cover.png)

El tener un validador de _RUT_ en un lenguaje de programación
es de suma importancia para el mercado chileno.

Es una de las operaciones más comunes en la informática chilena
y _Elixir_ debe tener una biblioteca robusta que pueda ser usado
en proyectos que lo requieran.

{% github ElixirCL/rut %}
