---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Un lenguaje de programación experimental que mezcla ideas de Elixir y Gleam",
  "image": "https://ninjas.cl/blog/el-lenguaje-de-programacion-kombucha/assets/cover.jpg",
  "published": true,
  "published_at": "2023-07-28T14:17:15.242952Z",
  "slug": "el-lenguaje-de-programacion-kombucha",
  "tags": ["kombucha", "code", "programming", "chile", "compilers", "interpreters"],
  "title": "El lenguaje de programación Kombucha"
}
---

![https://commons.wikimedia.org/wiki/File:Kombucha_jar.jpg](assets/cover.jpg)

Este es un pequeño lenguaje de programación inspirado principalmente en _Elixir_ y _Gleam_.

```elixir
module Brew {
  pub strong() {
    "This is a Kombucha Brewed in 30 days!"
  }
}
Brew.strong()
```

```elixir
heyho = ${ message ->
  to_string(message)
  |> String.upcase()
}
$heyho(:letsgo)
```

```elixir
module Bar {
  # Also private consts as in elixir
  @count 500

  /*
  Consts can also be used with blocks
  */

  const drinks {
    [:drink, @count, :kombucha]
  }
}

Bar.drinks
```

```elixir
struct Glass {
  ~w[liquid]a

  pub new() {
    %Glass{liquid: :kombucha};
  }
}
Glass.new()
```

```elixir
module MyInteger {
  pub guard is_even(term) when is_integer(term) and rem(term, 2) == 0

  pub even?(number) when is_even(number) {
    :is_even
  }

  pub even?(_number) {
    :not_even
  }
}

[MyInteger.even?(2), MyInteger.even?(1)]
```

{% github ElixirCL/kombucha %}
