---
{
  "author": "Camilo Castro <camilo@ninjas.cl>",
  "author_url": "https://ninjas.cl",
  "description": "Una guía laboral para developers con ideas y recomendaciones generales sobre el mundo informático en Chile y el mundo.",
  "image": "https://ninjas.cl/blog/guia-laboral-para-devs/assets/cover.jpg",
  "published": true,
  "published_at": "2019-10-04T15:12:25.160190Z",
  "slug": "guia-laboral-para-devs",
  "tags": ["laburo", "trabajo", "chile", "devs"],
  "title": "Guia Laboral para Devs"
}
---

![https://commons.wikimedia.org/wiki/File:From_July-September_1941,_Gross_was_sent_to_record_the_training_of_the_ATS._This_included_mechanical_work_and_plotting_shell_bursts,_which_he_depicts_in_this_work._Art.IWMARTLD1413.jpg](assets/cover.jpg)

En este pequeño documento se detallarán tips para que tengas un buen curriculum. Además de algunas formas para detectar y filtrar trabajos que quizás no sean los más convenientes para tu desarrollo profesional/personal.

{% github https://github.com/devschile/guia-laboral %}
