<!DOCTYPE html>
<!--
  Ninjas.cl 2024
  Sources: https://codeberg.org/ninjas/website
  Using: Elixir
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Elixir Ninja Static Blog">

    <title>Ninjas.cl | <%= page.title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">

    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Ninjas.cl Atom Feed" />

    <!-- This website was made by Humans, not AI -->
    <link type="text/plain" rel="author" href="/humans.txt">
    <meta name="robots" content="index,follow">

    <!--
    Unless explicitly specified
    All the content here is licensed using Creative Commons BY-NC-ND 4.0 Deed
    (Attribution-NonCommercial-NoDerivs 4.0 International)
    - License: https://creativecommons.org/licenses/by-nc-nd/4.0/
    - See: https://searchengineland.com/robots-txt-new-meta-tag-llm-ai-429510
    Allows LLMs to copy and distribute the material in any medium or format
    in unadapted form only, for noncommercial purposes only,
    and so long as attribution is given to the creator and no derivatives or
    adaptations of the work are permitted.
    -->
    <meta name="usage-rights" content="CC-BY-NC-ND">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/milligram.css">
    <link rel="stylesheet" href="/css/sakura.min.css">
    <link rel="stylesheet" href="/css/ninjas.css">

    <%= EEx.eval_file("sources/templates/partials/og.html.eex", [page: page]) %>
  </head>
  <body>
