<section id="menu" class="container">
    <div class="row">
      <div class="column column-75"></div>
      <div class="column malva-frame">
        🌸
        <a href="/" style="">Home</a> |
        <a href="/blog" style="">Blog</a>
        <a href="/feed.xml"><img style="width:15px;height:auto;" src="/img/feed.svg" alt="Atom Feed RSS" title="Atom Feed"></a>
      </div>
    </div>
</section>
