<meta name="description" content="<%= page.description %>">
    <meta name="keywords" content="<%= Map.get(page, :tags, []) ++ ["ninjas", "ninja", "ninjas chile", "software", "chile", "camilo", "castro", "chileno", "desarrollo", "informática", "chilena", "sistemas", "soluciones"] |> Enum.join(", ") %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= page.url %>">
    <meta property="og:title" content="<%= Map.get(page, :title_og, Map.get(page, :title, "Ninjas.cl")) %>">
    <meta property="og:description" content="<%= page.description %>">

    <meta property="og:image" content="<%= page.image_og %>">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= page.url %>">
    <meta property="twitter:title" content="<%= Map.get(page, :title_og, Map.get(page, :title, "Ninjas.cl")) %>">
    <meta property="twitter:description" content="<%= page.description %>">
    <meta property="twitter:image" content="<%= page.image_og %>">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "<%= Map.get(page, :title_og, Map.get(page, :title, "Ninjas.cl")) %>",
        "description": "<%= page.description %>",
        "datePublished": "<%= Map.get(page, :published_at, NaiveDateTime.to_string(NaiveDateTime.utc_now())) %>",
        "author": {
          "@type": "Person",
          "name": "<%= Map.get(page, :author, "Camilo Castro") %>"
        },
        "image": ["<%= page.image_og %>"],
        "publisher": {
          "@type": "Organization",
          "name": "Ninjas.cl",
          "logo": {
            "@type": "ImageObject",
            "url": "https://ninjas.cl/img/Ninjas.png"
          }
        },
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://ninjas.cl/"
        }
      }
    </script>
